<%= form_for(@family_engagement) do |f| %>
  <fieldset>
    <legend>Family Engagement</legend>
    <% if @family_engagement.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@family_engagement.errors.count, "error") %> prohibited this family_engagement from being saved:</h2>

        <ul>
        <% @family_engagement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :tweets %><br>
      <%= f.number_field :tweets %>
    </div>
    <div class="field">
      <%= f.label :facebook %><br>
      <%= f.number_field :facebook %>
    </div>
    <div class="field">
      <%= f.label :instagram %><br>
      <%= f.number_field :instagram %>
    </div>
    <div class="field">
      <%= f.label :community_centers %><br>
      <%= f.number_field :community_centers %>
    </div>
    <div class="field">
      <%= f.label :public_speech %><br>
      <%= f.number_field :public_speech %>
    </div>
    <div class="actions">
      <%= f.submit :Submit, class: "button" %>
    </div>
  </fieldset>
<% end %>