<html>
<head>
  
</head>

<body>
  <div class="row center">
    <div class="nav2 large-24 columns">
      <%= link_to "Partners", partners_path %>
      <%= link_to "Community Leaders", "/partners/community_leaders" %>
      <%= link_to "Parents", "/partners/parents" %>
      <%= link_to "Reading Stats", "/report" %>
      <%= link_to "Edit Media Stories", "/story" %>
      <%= link_to "Events" %>
    </div>
  </div>  
   <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="large-24 columns">
        <h1>Read by 4th! partners</h1>
      </div>
    </div>
    <div class="row min-height">
      <div class="large-24 columns">
        <table>
          <thead>
            <tr>
              <th>Partner Program</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Website</th>
              <th colspan="1"></th>
              <th>Edit Partner</th>
              <th>Delete Partner</th>
            </tr>
          </thead>

          <tbody>
            <% @partners.each do |partner| %>
              <tr>
                <td><%= link_to partner.name, partner %></td>
                <td><%= link_to partner.email %></td>
                <td><%= partner.phone %></td>
                <td><%= partner.website %></td>
                <td></td>
                <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
                <td><%= link_to 'Delete', partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Manually Create a New Partner', new_partner_path, class: "button" %>
        <br />
      </div>
    </div>
</body>
</html>