<div class="row center">
	<div class="nav2 large-24 columns">
		<%= link_to "Partners", partners_path %>
		<%= link_to "Community Leaders", "/partners/community_leaders" %>
		<%= link_to "Parents", "/partners/parents" %>
		<%= link_to "Reading Stats", "/report" %>
		<%= link_to "Recent Messages" %>
		<%= link_to "Events" %>
	</div>
</div> 
<div class="row pad">
	<div class="large-24 columns">
		<table>
			<thead>
				<tr>
					<th>Catagory</th>
					<th>Stats</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Total Number Of Parents In The Program</td>
					<td>113</td>
				</tr>
				<tr>
					<td>Total Number Of Partners In The Program</td>
					<td>56</td>
				</tr>
				<tr>
					<td>Total Number Of Community Leaders In The Program</td>
					<td>32</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row center pad">
	<div class="large-12 columns">
		<img src="/assets/lineChart.png" />
	</div>
	<div class="large-12 columns">
		<img src="/assets/PieChartGoogle.jpg" />
	</div>
</div>