<html>
<head>
  <title>Partner Page</title>
</head>
<body>
<!-- <h1>Page That Partners See When They Log In</h1> -->
<p id="notice"><%= notice %></p>

<h1 class="alternate divide alternate-divide"><%= @partner.name %> Quick Information</h1>

<div class="row">
  <div class="large-8 columns">
    <div class="vcard">
      <h1><%= @partner.name %></h1>
      <div class="logo"></div>
      <div class="email"><span class="vcard-label">Email: </span><a><%= @partner.email %></a></div>
      <div class="tel"><span class="type vcard-label">Phone: </span><a href="tel:+<% @partner.phone %>"><%= @partner.phone %></a></div>
      <div class="adr">
        <div class="email"><span class="vcard-label">Website: </span><a href="<% @partner.website %>"><%= @partner.website %></a></div>
        <span class="vcard-label">Address: </span>
        <div class="street-address"><%= @partner.address %></div>
        <span class="locality">Philadelphia</span>,
        <abbr class="region" title="Pennsylvania">PA</abbr>,
        <span class="postal-code"><%= @partner.zip_code %></span>
      </div>
      <%= link_to 'Edit', edit_partner_path(@partner) %>
    </div>
  </div>
  <div class="large-16 columns">
    <h1>Roll Call / Books Completed</h1>
    <ul class="no-bullets inline-list">
      <% @students.each do |x| %>
        <li>
          <ul class="no-bullets inline-list">
            <li class="name"><strong><%= x.first_name %></strong></li>
            <li><%= form_for(@attendance_matter) do |f| %></li>
            <li class="hide"><%= f.number_field :participant_id, value: x.id %></li>
            <li><%= f.number_field :absences, placeholder: "# weekly absences" %></li>
            <li><%= f.label :asthma_related %></li>
            <li><%= f.check_box :asthma %></li>
            <li><%= f.submit :Submit, class: "button alternate" %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    <ul class="inline-list">
      <li><%= link_to "Add Participant", new_participant_path, class: "button" %></li>
      <li><%= link_to "Upload Student CSV", '/', class: "button" %></li>
      <li><%= link_to "Absentee Data PDF", '/', class: "button" %></li>

    </ul>
  </div>
</div>

<h1 class="alternate divide alternate-divide">Enter Data</h1>

<div class="row">
  <div class="large-12 columns">
    <%= render "family_engagement" %>
  </div>
  <div class="large-12 columns">
    <%= render "year_round_readers" %>
  </div>
</div>

<h1 class="alternate divide alternate-divide">Report Card</h1>

<div id="report_card">
  <div class="row"> 
    <h1>Abesentee Data / <%= @partner.name %></h1>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Total Absences:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
        <div class="stat">
          <h5 class="title">Total Absences:</h5>
          <% abs = [] %>
          <% @all_attendance.map do |x| %>
          <% abs.insert(0, x.absences.to_i) %>
          <% end %>
          <%= abs.inject(0, :+) %>
        </div>
      </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Avg Per Student:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Avg Per Week:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
  </div>
  <br />
  <div class="row"> 
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">% Asthma Related:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
        <div class="stat">
          <h5 class="title">Most Absent Student:</h5>
          <% abs = [] %>
          <% @all_attendance.map do |x| %>
          <% abs.insert(0, x.absences.to_i) %>
          <% end %>
          <%= abs.inject(0, :+) %>
        </div>
      </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Students Over 10:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Student With Fewest:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <h1>Reading Data / <%= @partner.name %></h1>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Total Hours Read:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
        <div class="stat">
          <h5 class="title">Total Books Read:</h5>
          <% abs = [] %>
          <% @all_attendance.map do |x| %>
          <% abs.insert(0, x.absences.to_i) %>
          <% end %>
          <%= abs.inject(0, :+) %>
        </div>
      </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Hours Per Student:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Hours Per Week:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
  </div>
  <br />
  <div class="row"> 
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">% Asthma Related:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
        <div class="stat">
          <h5 class="title">Most Absent Student:</h5>
          <% abs = [] %>
          <% @all_attendance.map do |x| %>
          <% abs.insert(0, x.absences.to_i) %>
          <% end %>
          <%= abs.inject(0, :+) %>
        </div>
      </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Students Over 10:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Student With Fewest:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <h1>Community Engagement / <%= @partner.name %></h1>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Total Absences:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
        <div class="stat">
          <h5 class="title">Total Absences:</h5>
          <% abs = [] %>
          <% @all_attendance.map do |x| %>
          <% abs.insert(0, x.absences.to_i) %>
          <% end %>
          <%= abs.inject(0, :+) %>
        </div>
      </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Avg Per Student:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Avg Per Week:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
  </div>
  <br />
  <div class="row"> 
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">% Asthma Related:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
        <div class="stat">
          <h5 class="title">Most Absent Student:</h5>
          <% abs = [] %>
          <% @all_attendance.map do |x| %>
          <% abs.insert(0, x.absences.to_i) %>
          <% end %>
          <%= abs.inject(0, :+) %>
        </div>
      </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Students Over 10:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
    <div class="large-6 columns"> 
      <div class="stat">
        <h5 class="title">Student With Fewest:</h5>
        <% abs = [] %>
        <% @all_attendance.map do |x| %>
        <% abs.insert(0, x.absences.to_i) %>
        <% end %>
        <%= abs.inject(0, :+) %>
      </div>
    </div>
  </div>
  <br />
</div>

<h1 class="alternate divide alternate-divide">Neighborhood Served / <%= @partner.name %></h1>

<div class="row">
  <div class="large-24 columns">
    <img src="http://static5.businessinsider.com/image/51d34ba269bedd4034000006-1200-706/screen%20shot%202013-07-02%20at%205.51.40%20pm.png" />
  </div>
</div>
  <br />

</body>
</html>



<!-- <div class="large-8 columns">
        <div class="stat">
          <h5 class="title">Total Hours Read:</h5>
          <% thr = [] %>
          <% @all_year_round_reader.map do |x| %>
          <% thr.insert(0, x.hours_read.to_i) %>
          <% end %>
          <%= thr.inject(0, :+) %>
        </div>
      </div> -->










