<p id="notice"><%= notice %></p>

<h1>Listing Participants</h1>

<table>
  <thead>
    <tr>
      <th>Partner</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Absence</th>
      <th>Email</th>
      <th>Date of birth</th>
      <th>Home address</th>
      <th>School</th>
      <th>Parent name</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.partner_id %></td>
        <td><%= participant.first_name %></td>
        <td><%= participant.last_name %></td>
        <td><%= participant.absence %></td>
        <td><%= participant.email %></td>
        <td><%= participant.date_of_birth %></td>
        <td><%= participant.home_address %></td>
        <td><%= participant.school %></td>
        <td><%= participant.parent_name %></td>
        <td><%= participant.student %></td>
        <td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path %>
