<p id="notice"><%= notice %></p>

<p>
  <strong>Partner:</strong>
  <%= @participant.partner_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @participant.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @participant.last_name %>
</p>

<p>
  <strong>Absence:</strong>
  <%= @participant.absence %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @participant.date_of_birth %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @participant.home_address %>
</p>

<p>
  <strong>School:</strong>
  <%= @participant.school %>
</p>

<p>
  <strong>Parent name:</strong>
  <%= @participant.parent_name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @participant.student %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
