<html>
<head>
  <title>Community Leader Page</title>
</head>
<body>
<!-- <h1>Page That Partners See When They Log In</h1> -->
<p id="notice"><%= notice %></p>

<h1 class="alternate divide alternate-divide"></h1>

<div class="row">
  <div class="large-5 columns">
    <div class="vcard">
      <h1><%= @leader.fname %></h1>
      <h1><%= @leader.lname %></h1>
      <div class="logo"> <%= image_tag(@leader.logo.url(:thumb)) %> </div>
      <%= link_to 'Edit', edit_community_leader_path(@leader) %>
      
    </div>

    </div>
  <div class="large-19 columns">
    <h1>About Me</h1>

    <div class="mission-statement">
      <p>Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

      <p>Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
  
  </div>
</div>

<h1 class="alternate divide alternate-divide"></h1>
<div class="row">
  <div class="large-8 columns">
      <h2>Events Form</h2>
      <%= form_for Event.new, url: "/community_leaders/create_event", html: { method: "POST"} do |f| %>
      <div class="field"> 
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :date %>
        <%= f.date_field :date%>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="actions">
        <%= f.submit :Submit, class: "button" %>
      </div>
    <% end%>
  </div>
  <div class="large-16 columns">
    <div id="event-box" class="event-box">
      <% if @event != nil %>
        <% @event.reverse.each do |x| %>
          <div class="event-row">
            <a href="#/" target="_blank">
              <div class="date-time"><%= x.date.strftime("%A, %d %b %Y") %></div>
            </a>
            <div class="event-title"><%= x.title %></div>
            <div class="event-location"><%= x.description %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


</body>
</html>