<div class="row">
	<div class="large-8 columns">
		<h1><%= @parent.parent_first_name + " " + @parent.parent_last_name %></h1>
		<h5><%= @parent.home_address %></h5>
		<br />
		<h2>Young Readers</h2>
		<% @parent.participants.each do |x| %>
			<h4><%= x.first_name %></h4>
		<% end %>

		<%= link_to "Add Child", new_participant_path, class: "button" %>
		<h3>Informational Resources</h3>
		<ul>
			<li><a href="https://libwww.freelibrary.org/readby4th/programs.cfm">Programs In Philly</a></li>
			<li><a href="https://libwww.freelibrary.org/readby4th/summer.cfm">Summer Programs</a></li>
			<li><a href="https://libwww.freelibrary.org/readby4th/booklist.cfm">Book Lists</a></li>
		</ul>
	</div>
	<div class="large-16 columns">
		<h1>Record Reading Progress</h1>
		<% @parent.participants.each do |y| %>
			<fieldset>
			<h2><%= y.first_name %></h2>
			<%= form_for @reading, url: "/participant_stats", html: { method: "POST" } do |f| %>
			    <% if @reading.errors.any? %>
			      <div id="error_explanation">
			        <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

			        <ul>
			        <% @reading.errors.full_messages.each do |message| %>
			          <li><%= message %></li>
			        <% end %>
			        </ul>
			      </div>
			    <% end %>
			    <%= f.hidden_field :participant_id, value: y.id %>
			    <div class="field">
			      <%= f.label :hours_individual %><br>
			      <%= f.number_field :hours_individual %>
			    </div>
			    <div class="field">
			      <%= f.label :hours_instruction %><br>
			      <%= f.number_field :hours_instruction %>
			    </div>
			    <div class="field">
			      <%= f.label :books %><br>
			      <%= f.number_field :books %>
			    </div>
			    <div class="field">
			      <%= f.label :book_title %><br>
			      <%= f.text_field :book_title %>
			    </div>
			    <div class="actions">
			      <%= f.submit :Submit, class: "button" %>
			    </div>
			  </fieldset>
			<% end %>
		<% end %>
	</div>
</div>

<h1 class="divide alternate alternate-divide"></h1>

<div class="row pad">
	<div class="large-24 columns">
		<h1>Report Card</h1>
		<% @parent.participants.each do |z| %>
		<table class="pad">
			<thead>
				<th><%= z.first_name %>'s Reading Breakdowns</th>
				<th>Data</th>
				<!-- <th>Mininum Goal</th> -->
			</thead>
			<% if Reading.where(participant_id: z.id).nil? %>	
				<tbody>
					<tr>
						<td>Hours Per Day Of Individual Reading</td>
						<td>0</td>
						<!-- <td>1</td> -->
					</tr>
					<tr>
						<td>Hours Per Day Of Reading Instruction</td>
						<td>0</td>
						<!-- <td>1</td> -->
					</tr>
					<tr>
						<td>Books Read Per Week</td>
						<td>0</td>
						<!-- <td>1.5</td> -->
					</tr>
				</tbody>
			<% else %>
				<tbody>
					<tr>
						<td>Hours Per Day Of Individual Reading</td>
						<td>
							<% if Reading.where(participant_id: z.id).nil? %>
								<%= 0 %>
							<% else %>
								<% total = [] %>
								<% Reading.where(participant_id: z.id).each do |a| %>
									<% a.hours_individual.nil? ? nil : total << a.hours_individual %>
								<% end %>
								<%= (total.reduce(:+) / ((Time.now - Reading.where(participant_id: z.id).first.created_at) / 86400)).round(2) %>
							<% end %>
						</td>
						<!-- <td>1</td> -->
					</tr>
					<tr>
						<td>Hours Per Day Of Reading Instruction</td>
						<td>
							<% if Reading.where(participant_id: z.id).nil? %>
								<%= 0 %>
							<% else %>
								<% total = [] %>
								<% Reading.where(participant_id: z.id).each do |a| %>
									<% a.hours_instruction.nil? ? nil : total << a.hours_instruction %>
								<% end %>
								<%= (total.reduce(:+) / ((Time.now - Reading.where(participant_id: z.id).first.created_at) / 86400)).round(2) %>
								
							<% end %>
						</td>
						<!-- <td>1</td> -->
					</tr>
					<tr>
						<td>Books Read Per Week</td>
						<td>
							<% if Reading.where(participant_id: z.id).nil? %>
								<%= 0 %>
							<% else %>
								<% total = [] %>
								<% Reading.where(participant_id: z.id).each do |a| %>
									<% a.books.nil? ? nil : total << a.books %>
								<% end %>
								<%= (total.reduce(:+) / ((Time.now - Reading.where(participant_id: z.id).first.created_at) / 86400) / 24 * 7).round(2) %>
							<% end %>
						</td>
						<!-- <td>1.5</td> -->
					</tr>
				</tbody>
			<% end %>
		</table>
		<div class="large-24 columns center">
			<!-- <h3>Hours Read Per Week</h3> -->
			<!-- <div id="chart_div"></div> -->
		</div>
		
		<% end %>
	</div>
</div>






