<div class="row">
	<div class="large-8 columns">
		<h1><%= @parent.parent_first_name + " " + @parent.parent_last_name %></h1>
		<h5><%= @parent.home_address %></h5>
		<br />
		<h2>Young Readers</h2>
		<% @parent.participants.each do |x| %>
			<h4><%= x.first_name %></h4>
		<% end %>

		<%= link_to "Add Child", new_participant_path, class: "button" %>
	</div>
	<div class="large-16 columns">
		<h1>Record Reading Progress</h1>
		<% @parent.participants.each do |y| %>
			<fieldset>
			<h2><%= y.first_name %></h2>
			<%= form_for @reading, url: "/participant_stats", html: { method: "POST" } do |f| %>
			    <% if @reading.errors.any? %>
			      <div id="error_explanation">
			        <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

			        <ul>
			        <% @reading.errors.full_messages.each do |message| %>
			          <li><%= message %></li>
			        <% end %>
			        </ul>
			      </div>
			    <% end %>
			    <%= f.hidden_field :participant_id, value: y.id %>
			    <div class="field">
			      <%= f.label :hours_individual %><br>
			      <%= f.number_field :hours_individual %>
			    </div>
			    <div class="field">
			      <%= f.label :hours_instruction %><br>
			      <%= f.number_field :hours_instruction %>
			    </div>
			    <div class="field">
			      <%= f.label :books %><br>
			      <%= f.number_field :books %>
			    </div>
			    <div class="field">
			      <%= f.label :book_title %><br>
			      <%= f.text_field :book_title %>
			    </div>
			    <div class="actions">
			      <%= f.submit :Submit, class: "button" %>
			    </div>
			  </fieldset>
			<% end %>
		<% end %>
	</div>
</div>

<h1 class="divide alternate alternate-divide"></h1>

<div class="row pad">
	<div class="large-24 columns">
		<h1>Report Card</h1>
		<% @parent.participants.each do |z| %>
		<table class="pad">
			<thead>
				<th><%= z.first_name %>'s Reading Breakdowns</th>
				<th>Data</th>
				<!-- <th>Mininum Goal</th> -->
			</thead>
			<tbody>
				<tr>
					<td>Hours Per Day Of Individual Reading</td>
					<td>
						<% if z.reading.nil? %>
							<%= 0 %>
						<% else %>
							<%= 1 %>
						<% end %> 
					</td>
					<!-- <td>1</td> -->
				</tr>
				<tr>
					<td>Hours Per Day Of Reading Instruction</td>
					<td>0</td>
					<!-- <td>1</td> -->
				</tr>
				<tr>
					<td>Books Read Per Week</td>
					<td>0</td>
					<!-- <td>1.5</td> -->
				</tr>
			</tbody>
		</table>
		<div class="large-12 columns center">
			<h3>Hours Read Per Week</h3>
			<img src="/assets/lineChart.png" />
		</div>
		<div class="large-12 columns center">
			<h3>Percent of Goals Met</h3>
			<img src="/assets/PieChartGoogle.jpg" />
		</div>
		<% end %>
	</div>
</div>






