<!DOCTYPE html>
<html>
<head>
  <title>Readby4th</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cityofphiladelphia.github.io/patterns/dist/0.10.1/css/patterns.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script type='text/javascript' src='//cityofphiladelphia.github.io/patterns/dist/0.10.1/js/patterns.min.js'></script>
	<link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js?ver=2.8.3'></script>
  <script src='https://www.google.com/jsapi'></script>
  
</head>
<body>

    <header>
      <img class="read_logo" src="/assets/read-by-4th-banner-fixed.png">
      <!-- <h1>Read by 4th</h1> -->
      <nav>
        <a href="/">Home</a>
        <% if current_user.nil? %>
        <%= link_to "Sign In", new_user_session_path %>
        <% end %>
        <% if !current_user.nil? %>
          <% if !current_user.partner_id.nil? %> 
            <%= link_to "Partner Page", partner_path(current_user.partner_id) %>
          <% elsif !current_user.parent_id.nil? %>
            <%= link_to "Parent Page", parent_path(current_user.parent_id) %>
          <% else %>
            <%= link_to "Community Leader Page", community_leader_path(current_user.leader_id) %>
          <% end %>
          <%= link_to "Sign Out", destroy_user_session_path, method: "DELETE" %>
        <% end %>
      </nav>
    </header> 
	
<hr />

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<!-- Begin Footer -->
<footer data-swiftype-index='false' class="site-footer" role="contentinfo">
  <section class="fat">
    <div class="row">
      <div class="large-8 columns">
        <h1>Partner Information</h1>
        <nav>
          <ul>
             <li><a href="https://libwww.freelibrary.org/readby4th/" target="_blank">ReadBy4th</a></li>
            <li><a href="http://www.freelibrary.org/libserv/" target="_blank">Program and Services</a></li>
            <li><a href="http://webgui.phila.k12.pa.us/offices/a/action-plan" target="_blank">Action Plan</a></li>
            <li><a href="https://libwww.freelibrary.org/readby4th/docs/ReadBy4th.pdf" target="_blank">Children's Literacy</a></li>
            <li><a href="http://www.pccy.org/wp-content/uploads/2015/07/Read-by-4th-Partner-Grid-v3-small1.pdf" target="_blank">Campaign Partners And Goals</a></li>
            <li><a href="http://libwww.freelibrary.org/readby4th/partners.cfm" target="_blank">Partners</a></li>
            <li><a href="http://libwww.freelibrary.org/calendar/" target="_blank">Events</a></li>
          </ul>
        </nav>
      </div>
      <div class="large-16 columns">
        <h1>Free Library of Philadelphia</h1>
        <nav>
          <ul class="columns-2">
            <li><a href="http://www.freelibrary.org/" target="_blank">Free Library Website</a></li>
            <li><a href="http://www.phila.k12.pa.us/" target="_blank">School District of Philadelphia</a></li>
            <li><a href="https://libwww.freelibrary.org/branches/brnlist.cfm" target="_blank">Free Library Locations</a></li>
            <li><a href="https://libwww.freelibrary.org/branches/branchmap.cfm" target="_blank">Library Locations By Neighborhood</a></li>
            <li><a href="https://libwww.freelibrary.org/calendar/" target="_blank">Upcoming Events</a></li>
            <li><a href="https://libwww.freelibrary.org/authorevents/" target="_blank">Current Events</a></li>
          </ul>
        </nav>
      </div>
    </div>
    
    <!--social media icon-->
    <div class="social-icon"> 
      <p >
              
        <a href="https://www.facebook.com/freelibrary/" target="_blank"><img src="/assetsfacebook_icon.png" style="height:40px; width:40px" /> </a>
            
        <a href="https://www.pinterest.com/d7ana/free-library-of-philadelphia/" target="_blank"><img src="/assets/Pinterest-icon.png" style="height:45px; width:45px" /> </a>
      
        <a href="https://twitter.com/FreeLibrary?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img alt="" src="/assets/twitter.png" style="height:40px; width:40px" /> </a>
         
        <a href="https://www.linkedin.com/company/free-library-of-philadelphia" target="_blank"><img alt="" src="/assets/logo-linkedin.png" style="height:45px; width:45px" /> </a>
      </p>
       
        <p class="footer_tag">
        <span >Property of Read!By4th</span>
      </p>

    </div>
 
  </section>
  
</footer>

<!-- End Footer -->
</body>
</html>
